/**********
  Default  
**********/

/*Tags*/

body{
    color: #FDFDFD;
    background: url(img/background.png);
    font-family: 'Work Sans', sans-serif;
}


h1{
    font-family: 'Kelly Slab', cursive;
    font-size: 4.5em;
    text-align: center;
    color: black;
    text-shadow: -1px 0 1px #FDFDFD, 0 1px 1px #FDFDFD, 1px 0 1px #FDFDFD, 0 -1px 1px #FDFDFD;
}


p{
    text-indent: 10mm;
}


a{
    color: #FDFDFD;
    text-decoration: underline;
    transition: .125s ease-in-out;
}


li{
    padding-bottom: 10px;
}


aside{
    margin-left: 75%;
    width: 250px;
    right: 1.25%;
    display: block;
    background-color: rgba(255,255,255,0.125);
    border-radius: 15px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    position: fixed;
    font-size: 0.75em;
    color: #FDFDFD;
}


footer{
    font-style: italic;
    text-decoration: overline;
    font-size: 0.75em;
    margin-top: 5px;
    width: 70%;
    float: left;
    padding-bottom: 10px;
}


/*Classes*/

.subhead{
    text-align: center;
    font-size: 2em;
    font-family: 'Kelly Slab';
}


.content{
    margin-right: 33%;
    width: 66%;
    float: left;
}


.section_head{
    margin-left: 25px;
    color: #ffc20e;
    font-family: 'Graduate', cursive;
}


/*IDs*/

#instructions{
    display: none;
    font-family: 'Wire One', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 325px;
    border-style: solid;
    border-color: #FDFDFD;
    border-width: 0px 0px 1px;
    padding-bottom: 10px;
    
}


#profile_pic{
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border-radius: 10px;
    
}


/*Pseudoclasses*/

a:hover{
    color: #ed1c24;
    transition: .125s ease-in-out;
}


/*Child and Descendent selectors*/

ul > li{
   list-style-type: square; 
}


aside > p{
    text-indent: 0;
    line-height: normal;
}

    
.content p{
    margin-left: 15px;
}


/*Compounded*/

.work > ul:not(:last-child){
    padding-bottom: 20px;
}


/************************************
  When screen too short for sidebar
  (i.e. for very short windows)
************************************/

@media screen and (max-height: 655px){
    
    /*Tags*/
    
    aside{
        position: absolute;
        color: #FDFDFD;
    }
    
}


/******************************************
  When screen not wide enough for sidebar
  (i.e. for phones)
******************************************/

@media screen and (max-width: 840px){
    
    /*Tags*/
    
    p{
        text-indent: 0;
        line-height: 125%;
    }
    
    
    li{
        line-height: 125%;
    }
    
    
    aside{
        display: block;
        position: static;
        margin-left: 0px;
        width: 90%;
        padding-bottom: 1px;
        margin-left: auto;
        margin-right: auto;
        color: #FDFDFD;
    }
    
    
    footer{
        width: 100%;
    }
    
    
    /*Classes*/
    
    .content{
        width: 95%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    .section_head{
        text-align: center;
        margin-left: 0;
    }
    
    
    .sidebar_text{
        width: 90%;
        padding-right: 5px;
    }
    
    
    /*IDs*/
    
    #instructions{
        display: block;
    }
    
    
    #profile_pic{
        width: 50%;
        margin-bottom: 0;
        margin-top: 10px;
    }
    
    
    /*Child selectors*/
    
    aside > p{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }  
    
}


/*****************************************
  When screen not wide enough for footer
  (i.e. for phones)
*****************************************/

@media screen and (max-width: 535px){
    
    /*Tags*/
    
    footer{
        font-size: 2.2vw;
        padding-bottom: 5px;
    }
    
}


/************************************************
  When screen not wide enough for dividing line
  (i.e. for narrow phones)
************************************************/

@media screen and (max-width: 375px){
    #instructions{
        width: 85%;
    }
    
}



/*By Ryan Mogol 2017*/